.NavMain {
  background-color: #ffffff;
  color: rgb(57, 57, 57);
  display: flex;
  align-items: center;
  padding: 20px;
  height: 70px;
  font-size: 17px;
}

.NavMain .nav-list {
  margin-left: auto;
  display: flex;
}

.NavMain .nav-list li:not(:last-child) {
  margin-right: 20px;
}

.NavMain .nav-list > li:hover {
  font-size: 18px;
}

