.profilePage {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileContainer {
    border: solid 2px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profilePage > h1 {
    margin-bottom: 30px;
}

.profileInfo {
    text-align: center;
}

.profileInfo > p {
    margin: 20px;
}

#firstName {
    font-weight: bold;
    font-size: 25px;
}